<div class="product-card-pro animate__animated animate__fadeIn">
    <div class="pc-image-container">
        <div class="pc-badges">
            <% if (product.isNew) { %>
                <span class="badge-custom badge-new">NEW</span>
            <% } %>
            <% if (product.discount && product.discount < product.basePrice) { %>
                <span class="badge-custom badge-sale">
                    -<%= Math.round((1 - product.discount/product.basePrice) * 100) %>%
                </span>
            <% } %>
        </div>

        <a href="/products/<%= product.slug %>" class="pc-img-link">
            <img src="<%= product.thumbnail %>" class="pc-img pc-img-primary" alt="<%= product.name %>">
            <% if (product.gallery && product.gallery.length > 0) { %>
                <img src="<%= product.gallery[0] %>" class="pc-img pc-img-secondary" alt="<%= product.name %>">
            <% } %>
        </a>

        <div class="pc-overlay-actions">
            <button class="pc-action-btn btn-wishlist" title="Yêu thích">
                <i class="far fa-heart"></i>
            </button>
            <button class="pc-action-btn btn-add-cart" onclick="event.preventDefault(); addToCart('<%= product._id %>')">
                <i class="fas fa-shopping-bag me-2"></i> THÊM VÀO GIỎ
            </button>
            <button class="pc-action-btn btn-quickview" title="Xem nhanh">
                <i class="fas fa-search-plus"></i>
            </button>
        </div>
    </div>

    <div class="pc-details">
        <h3 class="pc-title">
            <a href="/products/<%= product.slug %>"><%= product.name %></a>
        </h3>
        <div class="pc-price-box">
            <% if (product.discount && product.discount < product.basePrice) { %>
                <span class="price-current text-danger"><%= product.discount.toLocaleString('vi-VN') %> đ</span>
                <span class="price-old"><%= product.basePrice.toLocaleString('vi-VN') %> đ</span>
            <% } else { %>
                <span class="price-current"><%= product.basePrice.toLocaleString('vi-VN') %> đ</span>
            <% } %>
        </div>
    </div>
</div>